// app color ----------------------------------------------------------------
$app-primary: #ffffff;
$app-dark-primary: #000;
$app-auth-signin-primary: #d89157;

// brand color ----------------------------------------------------------------
$brand-auth-signin-lightblue: rgba(70, 98, 255, 0.6);
$brand-auth-register-lightred: rgba(231, 62, 73, 0.6);
$brand-auth-signin-blue: rgba(70, 98, 255);
$brand-auth-register-red: rgba(231, 62, 73);

// text color ----------------------------------------------------------------
$text-primary: #000;
$text-dark-primary: #ffffff;
$text-disabled: #b2aeb5;
$text-link: #0f18ef;
